@font-face {
  font-family: "nixie-one";
  src: url("fonts/NixieOne.ttf") format("truetype");
}

.container-fluid {
  padding: 0px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "nixie-one";
    color: #FFF;
    background-color: #000000;
    padding-bottom: 60px;


}


.navbar-default {

    border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #A9F5F2;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {

    color: #A9F5F2;
    background-color: #000000;

}
.navbar .navbar-nav {
    text-align:center;
}

.navbar .navbar-nav > li {
    padding-top: 15px;
    letter-spacing: 1px;
    font-size: 20px;
    float: none;
    background-color: #000000;
}

@media (min-width: 768px) {

    .navbar .navbar-nav > li {
        display: inline-block;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        border-bottom: 3px solid #A9F5F2;

    }
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {

    background-color: #000000;
    color: #FFFFFF;
}



.navbar-fixed-top {
    height: 80px;
    background-color: #000000;
}

.navbar-nav .open .dropdown-menu {

    background-color: #181818;
    border-radius: 15px;

}


.navbar-nav .open .dropdown-menu > li > a {
border-radius: 15px;
  line-height: 30px;
  background-color: #181818;
  color: #FFFFFF;
}

.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:active,
.navbar-nav .open .dropdown-menu > li > a:focus {
  background-image: none;
  background-color: #303030;

}

#homeCarousel {
    width: 100%;
    height: 75vh;
}

#home-carousel-bg {
    top: 80px;
    width: 100%;
    height: 75vh;
    background-color: #181818;
}

.carousel-inner .item {
    height: 75vh;
}


@media (min-width: 768px) and (max-width: 980px) {
    @media (min-height: 1024px) and (max-height: 1281px) {

        #homeCarousel {
            height: 70vw;
    }

        #home-carousel-bg {
            height: 70vw;
        }

        .carousel-inner .item {
            height: 67vw;
        }
    }
}



.carousel-control {
    margin-top: 20px;
}
.carousel-inner .item {
    width: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    .transition: 4s ease-in-out left;
}
.ad0 {
    background: url(../photos/IMG_7547_1.JPG) no-repeat center;
}
.ad1 {
    background: url(../photos/24954647040_65b5a8cbd4_o.jpg) no-repeat center center fixed;
}
.ad2 {
    background: url(../photos/25223666076_f5da00f15c_o.jpg) no-repeat center center fixed;
}
.ad3 {
    background: url(../photos/33289953136_f6088f79ce_o.jpg) no-repeat center center fixed;
}

.form-control {

  width: 90%;
}

#contact-bg {
  width: 100%;
  top: 80px;
  margin-bottom: 80px;
  position:relative;
  background-color: #181818;
}

#homeDown {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 10vh;
}

#galerieBody {
      width: 100%;
      top: 80px;
      margin-bottom: 80px;
      position:relative;
    background-color: #181818;
    padding-bottom: 20px;

}

#galerieBody .row {
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        width: 100%;

}

#mentions {
    position: relative;
    top: 80px;
    padding-top: 50px;
    margin-bottom: 60px;
    width: 100%;
}

#mentions .row {
        text-align: center;
        font-size: 16px;
        padding-top: 10px;

}


.row{
  margin-top: 0px;
  margin-bottom: 0px
}

h2 {
    text-align: center;
    font-size: 35px;
}

p {
    font-size: 16px;
}

a {
    color: #FFFFFF;
}

#tag_7 {
    background-image: url(../photos/IMG_7547_1.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 30vw;
    height: 20vw;
}
#tag_1 {
    background-image: url(../photos/24954647040_65b5a8cbd4_o.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 30vw;
    height: 20vw;
}
#tag_2 {
    background-image: url(../photos/25223666076_f5da00f15c_o.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 30vw;
    height: 20vw;
}
#tag_3 {
    background-image: url(../photos/33289953136_f6088f79ce_o.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 30vw;
    height: 20vw;
}
#tag_4 {
    background-image: url(../photos/IMG_7547_1.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 30vw;
    height: 20vw;
}
#tag_5 {
    background-image: url(../photos/24954647040_65b5a8cbd4_o.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 30vw;
    height: 20vw;
}
#tag_6 {
    background-image: url(../photos/33289953136_f6088f79ce_o.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 30vw;
    height: 20vw;
}


.footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: 000000;
}

.gallery_photo {

    width: 30vw;
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto;
}

.mySlides {

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
}

/*.modal {
  display: none;
  z-index: 999999;
  position: absolute;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: auto;
  background-color: #181818;
}

.modal.modal-backdrop {
    opacity: 0.7;
}

.modal-content {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
}

.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 90%;
  size: contain;
  overflow-y: visible;
}*/

.close {

  color: white;
  position: absolute;
  padding-top: 70px;
  top: 10px;
  right: 25px;
  font-size: 70px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#contact_col {

  padding-top: 50px;
}

#contact_pic {

  width: 60%;
}

#whois_pic {

  width: 90%;
}


#boutiqueBody {
      width: 100%;
      top: 80px;
      height: 80vh;
      margin-bottom: 80px;
      position:relative;
    background-color: #181818;
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;

}
